@charset "UTF-8";

@media screen and (min-width: 750px) {

    html{
        font-size: 50%;
    }

    header > table.headtable {
        max-width: none;
    }

    td.leftHead {
        width: 100%;
        padding-left: 0px;
    }

    td.leftHead > h1{
        font-family: var(--Font1);
        font-size: 88px;
        text-align: center;
        color: #9FB8AD;
        margin-left: 30px;
        margin-bottom: -4px;
    }

    td.leftHead > h2.sub{
        font-family: var(--Font3);
        font-size: 20px;
        text-align: center;
        color: #9FB8AD;
        
    }

    td.rightHead{
        width: 0%;
        
    }

    #menu{
        margin-top: 40px;
    }

    .main01{
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 40px;
    }

    main > h2.contatoh2{
        font-size: 28px;
        padding-top: 50px;
    }

    main > p.nome{
        padding-left: 40px;
        font-size: 32px;
    }
    
    main > a.emaillink{
        padding-left: 40px;
        font-size: 25px;
    }

    main > p.numero{
        padding-left: 40px;
        padding-top: 10px;
        font-size: 20px;
    }

    main > div.icon-zap{
        padding-top: 50px;
        font-size: 20px;
        padding-left: 40px;
    }
    
    main > div.icon {
        margin-top: 3px;
        padding-left: 40px;
        font-size: 25px;
    }

    main > div > a.notion{
        font-size: 20px;
        padding-left: 40px;
    }

}