@charset "UTF-8";

@media screen and (min-width: 600px) {

    html{
        font-size: 50%;
    }

    header > table.headtable {
        max-width: none;
    }

    td.leftHead {
        width: 100%;
        padding-left: 0px;
    }

    td.leftHead > h1{
        font-family: var(--Font1);
        font-size: 88px;
        text-align: center;
        color: #9FB8AD;
        margin-left: 30px;
        margin-bottom: -4px;
    }

    td.leftHead > h2.sub{
        font-size: 20px;
        text-align: center;
    }

    td.rightHead{
        width: 0%;
        
    }

    #menu{
        margin-top: 40px;
        font-family: var(--Font3);
    }

    .menu_ul_li:hover{
        background-color: rgba(209, 207, 207, 0.445);
    }

    
    main > h2.aboutme{
        text-align: center;
        margin-bottom: 15px;
        font-size: 25px;
    }

    .main01 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
    }

    .main01 .texto{
        
        text-align: justify;
        max-width: 1000px;
        padding: 10px;
        margin: 10px 0;
    }

    main > .card{
        width: 300px;
        height: 300px;
        position:relative;
    }

    .card:hover .front{
        transform: rotateY(180deg);
    }
    
    .card:hover .back{
        transform: rotateY(0);
    }

    main > p.texto{
        margin-top: 40px;
        margin-left: 80px;
        margin-right: 80px;
        text-indent: 40px;
        font-size: 20px;
    }
}