@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

:root{
    --Font1: 'Qwitcher Grypen', cursive;
    --Font2: 'Qwigley', cursive;
    --Font3: 'Josefin Sans', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color:#012622;
}

header{
    background-color: #003B36;
    padding: 20px;
    box-shadow: 0px 3px 7px 5px #003b3685;
    text-align: center;
}

#menu-toggle{
    font-size: 40px;
}

header > table.headtable {
    max-width: 800px;
    margin: auto;
}

td.leftHead {
    width: 90%;
    padding-left: 11px;
}

td.leftHead > h1{
    font-family: var(--Font1);
    font-size: 38px;
    text-align: left;
    color: #9FB8AD;
    margin-left: 5px;
    margin-bottom: -4px;
}

td.leftHead > h1 > span.copy{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5em;
    vertical-align: 0.7em;
    margin-left: 4px;
}

td.leftHead > h2{
    font-family: var(--Font3);
    font-size: 0.7em;
    text-align: left;
    color: #9FB8AD;
    
}

td.rightHead{
    width: 10%;
    text-align: right;
    padding-left: 10px;
}

td.rightHead > span#menu-toggle{
    background-color: #025853;;
    color: #012622; 
    border-radius: 5px;
    cursor: pointer;
}

#menu{
    display: none;
    position: absolute;
    top: 60px; 
    right: 20px; 
    background-color: #003B36;
    border: 2px seagreen solid;
    border-radius: 5px;
    z-index: 1000;
    cursor: pointer;
}
  
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#menu ul li {
    padding: 15px;
    text-align: center;
}
  
#menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

main.main01{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    
}

main > h2.aboutme{
    text-align: center;
    font-family: var(--Font3);
    color: #9FB8AD;
    margin-bottom: 15px;
}

main > .card{
    width: 100%;
    height: 250px;
    position:relative;
}

main > .card > .front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    border: 2px solid seagreen;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.front{
    background-image: url(../../images/DovaniLenaresPhoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.back{
    background-color: #025853;
    transform: rotateY(-180deg);
}

.ul-back{
    list-style-type: none;
    padding-left: 0;
    font-family: var(--Font3);
    color: #9FB8AD;
    font-size: 20px;
}

.back1 .nome{
    font-size: 25px;
}

.back1{
    margin-bottom: 25px;
}

.back2 .curso{
    font-size: 25px;
}

.card:hover .front{
    transform: rotateY(180deg);
}

.card:hover .back{
    transform: rotateY(0);
}

main > p.texto{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: var(--Font3);
    color: #9FB8AD;
    text-indent: 20px;
    text-align: justify;
}
  

  

