
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

:root{
    --Font1: 'Qwitcher Grypen', cursive;
    --Font2: 'Qwigley', cursive;
    --Font3: 'Josefin Sans', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color:#012622;
}

header{
    background-color: #003B36;
    padding: 20px;
    box-shadow: 0px 3px 7px 5px #003b3685;
    text-align: center;
}

header > table.headtable {
    max-width: 800px;
    margin: auto;
}

td.leftHead {
    width: 90%;
    padding-left: 11px;
}

td.leftHead > h1{
    font-family: var(--Font1);
    font-size: 38px;
    text-align: left;
    color: #9FB8AD;
    margin-left: 5px;
    margin-bottom: -4px;
}

td.leftHead > h1 > span.copy{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5em;
    vertical-align: 0.7em;
    margin-left: 4px;
}

td.leftHead > h2{
    font-family: var(--Font3);
    font-size: 0.7em;
    text-align: left;
    color: #9FB8AD;
    
}

td.rightHead{
    width: 10%;
    text-align: right;
    padding-left: 10px;
}

td.rightHead > span#menu-toggle{
    background-color: #00665E;
    color: #012622; 
    border-radius: 5px;
}

#menu{
    display: none;
    position: absolute;
    top: 60px; 
    right: 20px; 
    background-color: #003B36;
    border: 2px seagreen solid;
    border-radius: 5px;
    z-index: 1000;
}
  
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#menu ul li {
    padding: 15px;
    text-align: center;
}
  
#menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

main.main01{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

main > h2.aboutme{
    text-align: center;
    font-family: var(--Font3);
    color: #9FB8AD;
    margin-bottom: 15px;
}

main > section{
    margin: auto;
    width: 300px;
    height: 250px;
    background: url(../images/DovaniLenaresPhoto.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px; 
}

main > p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: var(--Font3);
    color: #9FB8AD;
    text-indent: 20px;
    text-align: justify;
}
  

  

